body {
    background: linear-gradient(rgba(11, 26, 53, 0.7), rgba(11, 26, 53, 0.7)), 
                url('flag.jpg') no-repeat center center fixed;
    background-size: contain; 
    background-color: #0b1a35; /* تكملة الخلفية بلون مناسب */
    color: #c9b78b;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}


.container {
    background: #aab5d545;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

h1, p {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label {
    align-self: flex-start;
    font-weight: bold;
}

input {
    width: 250px; 
    padding: 10px;
    border: 1px solid #0b1a35;
    background-color: #E8D5B5;
    color: #4A3F35;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #0a5fc7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    transition: 0.3s;
}

button:hover {
    background-color: #2164d8;
    opacity: 0.8;
    transform: scale(1.2);
}

a {
    color: #0ebad5;
    text-decoration: none;
}


img {
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    margin: 15px auto;
    display: block;
}
