body {
    background: linear-gradient(rgba(11, 26, 53,0.7), rgba(11, 26, 53, 0.7)),
        url('signup.webp') no-repeat center center fixed;
        

    background-size: cover;
  
    background-color: #0b1a35;
    color: #c9b78b;
    font-family: "Fira Code", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;

}


.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

h1,
p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

label {
    align-self: flex-start;
    font-weight: bold;
}

input {
    width: 250px;
    padding: 10px;
    border: 1px solid #C4A484;
    background-color: #E8D5B5;
    color: #4A3F35;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #2174ae;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}

button:hover {
    background-color: #A67C52;
}

a {
    color: #24aade;
    text-decoration: none;
}


img {
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    margin: 15px auto;
    display: block;
}


.sidebar {
    width: 260px;
    height: 100vh;
    background: rgba(39, 51, 83, 0.9);
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: left;
}

.sidebar ul li a {
    color: #ded5c1;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px;
}

.sidebar ul li a:hover {
    background: rgba(192, 198, 211, 0.9);
    padding-left: 15px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: rgba(201, 183, 139, 0.1);
    border-radius: 10px;
    overflow: hidden;
    /* margin-left: 80px; */
}

/* .user-table th,
.user-table td {
    border: 1px solid #c9b78b;
    padding: 15px;
    text-align: center;
} */

.user-table th,
.user-table td {
    border: 1px solid #c9b78b;
    padding: 15px;
    padding-left: 5px;
    font-size: 1.3rem; 
    min-height: 50px;
}


.user-table th {
    background-color: #162b58;
    color: #c9b78b;
    font-size: 1.1rem;
}

.user-table tr:nth-child(even) {
    background-color: rgba(201, 183, 139, 0.2);
}

.profile-card {
    width: 350px;
    background-color: rgba(11, 30, 67, 0.7);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;

}

.profile-card:hover {
    transform: scale(1.05);
}

.profile-card .user-name {
    color: #d1b8b8;
}

.profile-card .user-info p {
    color: #a1b2c6;
}

.delete {
    display: block;
    background-color: #b92020;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.delete:hover {
    background-color: rgb(207, 127, 127);
    transform: scale(1.05);
}

.setadmin {
    display: block;
    background-color: #0be192;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.setadmin:hover {
    background-color: #72b39b;
    transform: scale(1.05);
}


.AddQuiz {
    display: block;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.AddQuiz:hover {
    background-color: #72b39b;
    transform: scale(1.05);
}

.animated-username {
    display: inline-flex;
    align-items: baseline;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    width: 0;
    animation: typing 2s steps(var(--char-count), end) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: calc(var(--char-count) * 1ch);
    }
}

